
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <%= image_pack_tag("media/images/logo.png", class: "mx-auto d-block", alt: "London", width: '50', height: '50') %>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto">
        <%= link_to 'Simple Blog', root_path, method: :get, remote: true,class: 'nav-link' %>
      </ul>
    </div>

    <%= link_to ' Main', root_url, method: :get, class: "nav-link", style: "font-size:20px;color:white"%>&nbsp;&nbsp;&nbsp;
    <%= link_to ' Blogs', posts_path, method: :get, class: "nav-link", style: "font-size:20px;color:white" %>
    <%= link_to ' About', about_path, method: :get, class: "nav-link", style: "font-size:20px;color:white"%>&nbsp;&nbsp;&nbsp;
    <%= link_to ' Contact', contact_url, method: :post, class: "nav-link", style: "font-size:20px;color:white"%>&nbsp;&nbsp;&nbsp;

  </div>
</nav>
