<%= form_for(post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>


  <div class="field">
    <%= form.label :body %>
    <%= form.rich_text_area :body %>
  </div>

  <!-- category -->
  <div class="col-md-3 mb-2">
    <%=
     form.select :category_id,
      options_for_select(Category.all.map{|c| [c.name_ar, c.id]},
       form.object.category_id), {}, { class: "form-control selectpicker" }
    %>
  </div> 
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
