<p id="notice"><%= notice %></p>

<p>
  <strong></strong>
  <%= @post.title %>
</p>

<% if @post.main_image.attached? %>
  <div>
    <%= image_tag @post.main_image.variant(resize: '400x400') %>
  </div>
<% end %>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<%= link_to 'Back', root_path, method: :get  %>
