<%= form_with(model: category, local: true) do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% category.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Start form row -->
  <div class="form-row rtl">
    <!-- Start Fields -->
    <!-- first_name -->
    <div class="col-md-3 mb-3 rtl">
      <%# <%= form.label 'الاسم الاول'%>
      <%=
        form.text_field :name_ar, class: "form-control is-valid",
        required: true, placeholder: " Name AR" 
      %>
    </div>

    <!-- Name in English -->
    <div class="col-md-3 mb-3 rtl">
      <%# <%= form.label 'الاسم الاول'%>
      <%=
        form.text_field :name_en, class: "form-control is-valid",
        required: true, placeholder: " Name En" 
      %>
    </div>
    </br>
    &nbsp;&nbsp;&nbsp;
    <div class="actions btn btn my-2 my-sm-0 form-group fa fa-">
      <%# <%= form.hidden_field :role, { :value => 'driver' } %>
      <%= form.submit%>
    </div>
  </div>
<% end %>
